.fees-schedule-container {
  background: #FFFFFF;
  margin: 60px 0;
  padding: 20px;

  .fees-schedule-header, .payments-schedule-header {
    .fees-title {
      font-family: "patua one";
      font-weight: normal;
      color: #000000;
    }
  }

  .fees-schedule-list {
    .fees-list {
      font-size: 17px;
      li {
        list-style-type: none;
        padding: 7px 15px;
        margin: 7px 0;
      }
    }
  }

  .payment-description-container {
    .payment-description {
      padding: 15px 40px;

      p {
        font-size: 17px;
      }
    }
  }
}