$body_background_color: #e4f3f8;

//link color
$default_link_color: #1591FF;
$default_link_color_hover: #5BB8FF;

//header color
$default_header_color: #FFFFFF;
$default_header_color_hover: #CFCED2;

//header menu color
$header_menu_color: #0d6ddd;
$header_menu_color_hover: $header_menu_color;

//feature container background color
$feature_block_container_bg_color: #58ccf3;

//page title background color
$page_title_bg_color: $feature_block_container_bg_color;

//feature header color
$feature_block_single_header_color: #1591FF;
$feature_block_single_header_color_hover: $feature_block_single_header_color;

//registration bar background color
$register_bg_color: rgba(13, 109, 221, 0.7);

//feature list read more color
$feature_list_read_more_color: $feature_block_container_bg_color;
$feature_list_getting_started_color: #26b50a;

//plan details header color
$plan_details_header_color: #000000;

//Footer menu container background color
$footer_menu_bg_color: #ffffff;
